{{ define "main" }}
  <div class="cf pa3 pa4-m pa4-l mw8 center">
    <section class="ph4">
      {{ range $term := .Data.Pages }}
        <a href="{{ $term.RelPermalink }}" class="link near-black dim">
          <div class="relative w-100 mb4 bg-white nested-copy-line-height">
            <div class="bg-white mb3 pa4 pv2 overflow-hidden">
              <div class="f2">
                {{ $term.LinkTitle }}
              </div>
              <div class="f4 lh-copy">
                {{ $term.Pages | len }} recetas
              </div>
            </div>
          </div>
        </a>
      {{ end }}
    </section>
  </div>
{{ end }}
